fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
python-dotenv
pydantic
# qdrant-client
# sentence-transformers
# langsmith
huggingface-hub
python-multipart
streamlit
requests
transformers>=4.43.0
torch
langchain_huggingface